.main-container {
    padding-top: 60px;
    padding-left: 3em;
    padding-right: 3em;

    &__header {
        

        &__wrap {
            z-index: 100;
            position: relative;
            padding-top: 60px;
            display: flex;
            justify-content: space-between;

            &__logo {
                display: flex;
                position: relative;
                height: 35px;
                width: 127px;
            }

            &__navbar {
                display: flex;
                position: relative;
                justify-content: space-between;


                &__item,
                a {
                    font-family: Mulish, sans-serif;
                    display: flex inline;
                    color: rgb(235, 235, 235);
                    text-decoration: none;
                    text-decoration-line: none;
                    font-size: 14px;
                    font-weight: 800;
                    height: 21px;
                    padding-left: 8px;


                }

                li :hover {
                    color: aqua;

                }
            }

        }
    }

    &__pinned-section {
        margin-top: 10px;
        margin-bottom: 40px;

        &__wrap {
            padding-top: 60px;
            display: grid;
            position: relative;
            grid-template:
                "a1 a2 a3"
                "a1 a4 a5";


            &__pinned-element {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: 8px;
                position: relative;
                cursor: pointer;
                border-radius: 16px;
                transition: all .2s linear;

                &__image {}

                &__content {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__pill-button {
                        background-color: antiquewhite;
                        padding: 5px 10px;
                        width: fit-content;
                        font-family: Mulish, sans-serif;
                        text-transform: uppercase;
                        font-size: 8px;
                        font-weight: bold;
                        letter-spacing: 2px;
                        border-radius: 16px;
                    }

                    &__link-to-author {}

                    &__pinned-title {}

                }
            }

            &__pinned-element:nth-child(1) {
                grid-area: a1;
                width: 516px;
                height: 321px;
                padding: 70px 30px 25px 30px;
                background: url('/src/img/pinned/one_space.jpeg');
                background-size: cover;
                position: relative;
                overflow: hidden;

                &:hover {
                    transform: translateY(-4px);
                }
            }

            &__pinned-element:nth-child(2) {
                grid-area: a2;
                width: 348px;
                height: 105px;
                padding: 70px 30px 25px 30px;
                background: url(./src/img/pinned/open_space_for_more.jpeg);
                background-size: cover;
                position: relative;
                overflow: hidden;

                &:hover {
                    transform: translateY(-4px);
                }
            }

            &__pinned-element:nth-child(3) {
                grid-area: a3;
                width: 348px;
                height: 105px;
                padding: 70px 30px 25px 30px;
                background-color: #ffb469;
                background-size: cover;
                position: relative;
                overflow: hidden;

                &:hover {
                    transform: translateY(-4px);
                }

            }

            &__pinned-element:nth-child(4) {
                grid-area: a4;
                width: 348px;
                height: 105px;
                padding: 70px 30px 25px 30px;
                background: url(./src/img/pinned/space_for_mind.jpeg);
                background-size: cover;
                position: relative;
                overflow: hidden;

                &:hover {
                    transform: translateY(-4px);
                }
            }

            &__pinned-element:nth-child(5) {
                grid-area: a5;
                width: 348px;
                height: 105px;
                padding: 70px 30px 25px 30px;
                background: url();
                background-size: cover;
                position: relative;
                overflow: hidden;

                &:hover {
                    transform: translateY(-4px);
                }
            }
        }



    }

    &__global {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__big-cards{
            position: relative;
            cursor: pointer;
            border-radius: 16px;
            transition: all .2s linear;
            display: flex;
            flex-direction: column;

            &__big-card{
                position: relative;
                cursor: pointer;
                border-radius: 16px;
                transition: all .5s;
                display: flex;
                flex-direction: column;
                align-items: center;

                & svg{
                    width: 40px;
                    height: 40px;
                }


                &:nth-child(1) {
                    display: flex;
                    width: 1204px;
                    height: 400px;
                    background: url(/src/img/big_cards_imgs/perfect_place.jpeg);
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 40px;
                    &:hover{
                        scale: 1.1;
                        background-size: 105%;
    
                    }

                }
                &:nth-child(2) {
                    display: flex;
                    width: 1204px;
                    height: 608px;
                    background: url(/src/img/big_cards_imgs/i_work_best.jpeg);
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 40px;
                    &:hover{
                        background-size: 105%;
    
                    }
    
                }
                &:nth-child(3) {
                    display: flex;
                    width: 1204px;
                    height: 536px;
                    background: url(/src/img/big_cards_imgs/the_perfect_place.jpeg);
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 40px;
                    &:hover{
                        background-size: 105%;
    
                    }
                }
            }
 
        }

        &__header{
            margin-bottom: 20px ;
        }
    }
}