.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;

    &__header {
        display: block;

        &__wrap {
            z-index: 100;
            position: relative;
            padding-top: 60px;
            display: flex;
            justify-content: space-between;
            padding-left: 9em;
            width: 1203px;
            height: 35px;


            &__logo {
                display: flex;
                position: relative;
                height: 35px;
                width: 127px;
            }

            &__navbar {

                ul {
                    overflow: hidden;
                    list-style: none;
                }

                li :hover:before {
                    content: "";
                    position: absolute;
                    background: grey;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    top: 66px;

                }

                li {
                    float: left;
                    list-style: none;
                }

                li a {
                    display: block;
                    padding-left: 16px;
                    text-align: center;
                    text-decoration: none;
                    text-decoration-line: none;
                    font-size: 16px;
                    font-family: Mulish, sans-serif;
                    font-weight: 800;
                    color: rgb(235, 235, 235);
                }

                li a:hover {
                    color: aqua;
                }

                span {
                    padding-left: 16px;
                    display: flex;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    fill: rgb(235, 235, 235);
                }
            }


        }
    }

    &__pinned-section {
        display: flex;
        position: relative;
        margin-top: 10px;
        margin-bottom: 40px;

        &__wrap {
            padding-top: 60px;
            display: grid;
            position: relative;
            grid-template:
                "a1 a2 a3"
                "a1 a4 a5";


            &__pinned-element {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 8px;
                position: relative;
                cursor: pointer;
                border-radius: 16px;
                transition: all .2s linear;

                h3 {line-height: 170%;}

                &__content {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 308px;

                    &__pill-button {
                        margin-top: 20px;
                        margin-left: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px 10px;
                        width: 42px;
                        font-family: Mulish, sans-serif;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 2px;
                        border-radius: 16px;
                    }

                    &__link-to-author {
                        font-size: 14px;
                        font-family: Mulish, sans-serif;
                        padding-left: 14px;
                        color: $title-color;
                    }

                    &__pinned-title {
                        font-family: Corben, serif;
                        padding-left: 14px;
                        color: $title-color;
                        height: 40px;

                    }

                }
            }

            &__pinned-element:nth-child(1) {
                grid-area: a1;
                width: 516px;
                height: 371px;
                padding: 20px 30px 25px 30px;
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/pinned/one_space.jpeg");
                background-size: cover;
                position: relative;
                overflow: hidden;
                .main-container__pinned-section__wrap__pinned-element__content__pill-button{
                    background-color: $title-color;
                    margin-top: -130px;
                }
                .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
                    padding-top: 150px;
                    margin: 0;
                }

                .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
                    margin: 0;
                }

                &:hover {
                    transform: translateY(-4px);
                }

            }

            &__pinned-element:nth-child(2) {
                grid-area: a2;
                width: 368px;
                height: 200px;
                background: linear-gradient(rgba(25, 6, 237, 0.8), rgba(25, 6, 237, 0.8)), url(../../img/pinned/open_space_for_more.jpeg);
                background-size: cover;
                position: relative;
                overflow: hidden;

                .main-container__pinned-section__wrap__pinned-element__content__pill-button{
                    background-color: $title-color;
                }
                .main-container__pinned-section__wrap__pinned-element__content{

                    padding-left: 10px;
                    margin-top: -40px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
                    color: rgb(229, 223, 223);
                    padding-top: 20px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__pinned-title {

                    font-size: 19px;
                    color: rgb(229, 223, 223)
                }

                &:hover {
                    transform: translateY(-4px);
                }
            }

            &__pinned-element:nth-child(3) {
                grid-area: a3;
                display: flex;
                flex-direction: column;
                width: 368px;
                height: 200px;
                background-color: #ffb469;
                background-size: cover;
                position: relative;
                overflow: hidden;

                .main-container__pinned-section__wrap__pinned-element__content__pill-button{
                    background-color: rgb(68, 67,67);
                    color: $title-color;
                }

                .main-container__pinned-section__wrap__pinned-element__content{

                    padding-left: 10px;
                    margin-top: -40px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
                    color: rgb(68, 67,67);
                    padding-top: 20px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__pinned-title {

                    font-size: 19px;
                    color: rgb(68,67,67) ;
                }

                &:hover {
                    transform: translateY(-4px);
                }

            }

            &__pinned-element:nth-child(4) {
                grid-area: a4;
                width: 368px;
                height: 200px;
                background: linear-gradient(rgba(237, 6, 202, 0.8), rgba(237, 6, 202, 0.8)), url(../../img/pinned/space_for_mind.jpeg);
                background-size: cover;
                position: relative;
                overflow: hidden;

                .main-container__pinned-section__wrap__pinned-element__content__pill-button{
                    background-color: $title-color;
                }

                .main-container__pinned-section__wrap__pinned-element__content{

                    padding-left: 10px;
                    margin-top: -40px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
                    color: $title-color;
                    padding-top: 20px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__pinned-title {

                    font-size: 19px;
                    color: $title-color ;
                }

                &:hover {
                    transform: translateY(-4px);
                }
            }

            &__pinned-element:nth-child(5) {
                grid-area: a5;
                width: 368px;
                height: 200px;
                background: linear-gradient(rgba(255, 192, 203, 0.8), rgba(255, 192, 203, 0.8)), url(../../img/pinned/sea_is_calm.jpeg);
                background-size: cover;
                position: relative;
                overflow: hidden;
                .main-container__pinned-section__wrap__pinned-element__content__pill-button{
                    background-color:rgb(68, 67,67);
                    color: $title-color;
                }

                .main-container__pinned-section__wrap__pinned-element__content{

                    padding-left: 10px;
                    margin-top: -40px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
                    color: rgb(68, 67,67);
                    padding-top: 20px;
                    margin-bottom: -20px;
                }

                .main-container__pinned-section__wrap__pinned-element__content__pinned-title {

                    font-size: 19px;
                    color: rgb(68,67,67) ;
                }

                &:hover {
                    transform: translateY(-4px);
                }
            }
        }

    }

    &__global {

        &__big-cards {
            cursor: pointer;
            border-radius: 16px;
            transition: all .2s linear;

            &__big-card {
                cursor: pointer;
                border-radius: 16px;
                transition: all .5s;
                background-size: 100%;
                -webkit-transition: all 0.3s ease-in-out;

                &__content {
                    padding-left: 200px;
                    padding-right: 200px;
                    display: flex;
                    flex-direction: column;

                    & svg {

                        width: 40px;
                        height: 40px;
                        fill: $title-color;
                    }

                    & svg:hover {}

                    & a {
                        text-decoration: none;
                        text-decoration-line: none;
                        color: $title-color;

                    }

                    &__pill_buttons {
                        display: flex;
                        justify-content: flex-start;
                        align-content: flex-start;
                        margin-top: 180px;


                        &__pill_button {
                            margin-right: 5px;
                            padding: 5px;
                            justify-content: space-between;
                            font-family: Mulish, sans-serif;
                            text-transform: uppercase;
                            font-size: 8px;
                            color: $title-color;
                            border: grey solid 1px;
                            letter-spacing: 2px;
                            border-radius: 16px;
                        }
                    }

                    &__link-to-author {
                        font-size: 14px;
                        font-family: Mulish, sans-serif;
                        color: $title-color;
                        position: relative;
                        align-self: flex-start;
                        padding-top: 20px;

                    }

                    &__article {
                        font-size: 14px;
                        font-family: Mulish, sans-serif;
                        color: $title-color;
                        position: relative;
                    }

                    &__title {
                        font-family: Corben, serif;
                        font-size: 40px;
                        color: $title-color;
                        height: 40px;
                        position: relative;
                        height: 180px;
                        margin-bottom: 20px;
                    }
                }

                &:nth-child(1) {
                    width: 1204px;
                    height: 573px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/big_cards_imgs/perfect_place.jpeg);
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;
                    margin-bottom: 40px;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__big-cards__big-card__content__title {
                        margin-top: 20px;
                    }

                    .main-container__global__big-cards__big-card__content__link-to-author {
                        margin-top: -40px;
                    }

                    &:hover {
                        scale: (1.1);
                        background-size: 107%;
                    }

                }

                &:nth-child(2) {
                    width: 1204px;
                    height: 708px;
                    background: linear-gradient(rgb(252, 160, 3), rgba(252, 160, 3, 0.5)), url(../../img/big_cards_imgs/i_work_best.jpeg);
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;
                    margin-bottom: 40px;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__big-cards__big-card__content__title {
                        margin-top: 20px;
                    }

                    .main-container__global__big-cards__big-card__content__article {
                        margin-top: -20px;
                        font-size: 18px;
                        width: 600px;
                    }

                    .main-container__global__big-cards__big-card__content__link-to-author {
                        margin-top: 20px;
                    }

                    &:hover {
                        background-size: 107%;

                    }

                }

                &:nth-child(3) {
                    width: 1204px;
                    height: 673px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/big_cards_imgs/the_perfect_place.jpeg);
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;
                    margin-bottom: 40px;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__big-cards__big-card__content__title {
                        margin-top: 20px;
                    }

                    .main-container__global__big-cards__big-card__content__link-to-author {
                        margin-top: 20px;
                    }

                    &:hover {
                        background-size: 107%;

                    }
                }
            }

        }

        &__header {
            display: flex;
            margin-bottom: 30px;
            justify-content: center;
            font-family: Mulish, sans-serif;
            font-weight: 800;
            font-size: 11px;
            letter-spacing: 2px;
            line-height: 16, 5px;
            color: antiquewhite;
            text-transform: uppercase;



        }

        &__grid {
            display: flex;
            position: relative;
            margin-bottom: 40px;

            &__grid-cards {
                display: grid;
                position: relative;
                grid-template:
                    "a1 a1 a1 a2 a2 a2  "
                    "a3 a3 a4 a4 a5 a5";

                &__grid-card {
                    display: flex;
                    flex-direction: column;
                    margin: 8px;
                    position: relative;
                    cursor: pointer;
                    border-radius: 16px;
                    background-size: 100%;
                    transition: background-size 0.4s ease-in;

                    &:hover {
                        transition: background-size 0.4s ease-in;
                        background-size: 105%;
                    }

                    &__content {
                        margin: 40px 26px 40px 26px;
                        display: flex;
                        flex-direction: column;

                        & a {
                            text-decoration: none;
                            text-decoration-line: none;
                            color: $title-color;

                        }

                        &__pill-buttons {
                            display: flex;
                            justify-content: flex-start;
                            align-content: flex-start;



                            &__pill-button {
                                margin-right: 5px;
                                padding: 5px;
                                justify-content: space-between;
                                font-family: Mulish, sans-serif;
                                text-transform: uppercase;
                                font-size: 8px;
                                color: $title-color;
                                border: grey solid 1px;
                                letter-spacing: 2px;
                                border-radius: 16px;
                            }
                        }

                        &__author {
                            font-size: 14px;
                            font-family: Mulish, sans-serif;
                            color: $title-color;
                            position: relative;
                            align-self: flex-start;
                        }

                        &__article {
                            font-size: 14px;
                            font-family: Mulish, sans-serif;
                            color: $title-color;
                            position: relative;
                        }

                        &__title {
                            font-family: Corben, serif;
                            font-size: 24px;
                            color: $title-color;
                            position: relative;
                            height: 90px;
                        }
                    }

                }

                &__grid-card:nth-child(1) {
                    grid-area: a1;
                    width: 463px;
                    height: 509px;

                    background: linear-gradient(rgba(190, 136, 219, 0.844), rgba(178, 134, 202, 0.853)), url("../../img/grid_imgs/problems_grid_1.jpeg");
                    background-size: cover;
                    overflow: hidden;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__grid__grid-cards__grid-card__content__pill-buttons__pill-button {
                        color: rgb(51, 51, 51)
                    }

                    .main-container__global__grid__grid-cards__grid-card__content {
                        margin: 100px 26px 40px 26px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__author {
                        padding-top: 20px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__article {}

                    .main-container__global__grid__grid-cards__grid-card__content__title {
                        a {
                            color: rgba(68, 67, 67);
                        }
                    }

                    &:hover {
                        background-size: 105%;
                    }
                }

                &__grid-card:nth-child(2) {
                    grid-area: a2;
                    width: 463px;
                    height: 509px;

                    background: linear-gradient(rgba(255, 179, 104, 0.8), rgba(255, 179, 104, 0.8)), url(../../img/grid_imgs/quiet_time.jpeg);
                    background-size: cover;
                    position: relative;
                    overflow: hidden;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__grid__grid-cards__grid-card__content__pill-buttons__pill-button {
                        color: rgb(51, 51, 51)
                    }

                    .main-container__global__grid__grid-cards__grid-card__content {
                        margin: 100px 26px 40px 26px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__author {
                        margin-top: -20px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__article {}

                    .main-container__global__grid__grid-cards__grid-card__content__title {
                        a {
                            color: rgb(68, 67, 67);
                        }
                    }

                    &:hover {
                        background-size: 105%;
                    }
                }

                &__grid-card:nth-child(3) {
                    grid-area: a3;
                    width: 302px;
                    height: 376px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/grid_imgs/being_unique.jpeg");
                    background-size: cover;
                    overflow: hidden;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__grid__grid-cards__grid-card__content__pill-buttons__pill-button {
                        border: rgb(255, 255, 255) solid 1px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__author {
                        margin-top: -10px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__article {}

                    .main-container__global__grid__grid-cards__grid-card__content__title {
                        font-size: 16px;

                    }

                    &:hover {
                        background-size: 105%;
                    }

                }

                &__grid-card:nth-child(4) {
                    grid-area: a4;
                    width: 302px;
                    height: 376px;
                    background: linear-gradient(rgba(255, 192, 203, 0.8), rgba(255, 192, 203, 0.8)), url(../../img/grid_imgs/anyone_can.jpeg);
                    background-size: cover;
                    overflow: hidden;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__grid__grid-cards__grid-card__content__pill-buttons__pill-button {
                        color: rgb(51, 51, 51)
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__author {
                        padding-top: 20px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__article {}

                    .main-container__global__grid__grid-cards__grid-card__content__title {
                        font-size: 16px;

                        a {
                            color: rgb(68, 67, 67);
                        }
                    }

                    &:hover {
                        background-size: 105%;
                    }
                }

                &__grid-card:nth-child(5) {
                    grid-area: a5;
                    width: 302px;
                    height: 376px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/grid_imgs/change-is.jpeg");
                    background-size: cover;
                    overflow: hidden;
                    background-size: 100%;
                    -webkit-transition: all 0.3s ease-in-out;

                    .main-container__global__grid__grid-cards__grid-card__content__pill-buttons__pill-button {
                        border: rgb(255, 255, 255) solid 1px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__author {
                        padding-top: 20px;
                    }

                    .main-container__global__grid__grid-cards__grid-card__content__article {}

                    .main-container__global__grid__grid-cards__grid-card__content__title {
                        font-size: 16px;
                    }
                    &:hover {
                        background-size: 105%;
                    }
                }
            }
        }

        &__button-more {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 800px;
            height: 86px;
            border-radius: 16px;
            background-color: rgb(69, 69, 95);
            margin-bottom: 30px;
            font-family: Mulish, sans-serif;
            font-weight: 800;
            font-size: 11px;
            letter-spacing: 4px;
            line-height: 16, 5px;
            color: antiquewhite;
            text-transform: uppercase;
            -webkit-transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #ffb469;
                scale: (1, 1);
            }

        }

        &__form {
            margin-top: 160px;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 700px;
            margin-bottom: 40px;
            padding-bottom: 90px;

            span {
                font-family: Mulish, sans-serif;
                color: $title-color;
                display: flex;
                align-items: center;

                overflow: hidden;
                border-right: .15em solid $title-color;
                white-space: nowrap;
                margin: 0 auto;
                letter-spacing: .15em;
                animation:
                    typing 3.5s steps(38, end),
                    blink-cursor .75s step-end infinite;

                @keyframes typing {
                    0% {
                        width: 0ch
                    }

                    50% {
                        width: 26ch
                    }
                    55% {
                        width: 26ch;
                    }
                    65% {
                        width: 26ch;
                    }

                    100% {
                        width: 0ch;
                    }
                }


                @keyframes blink-cursor {

                    from,
                    to {
                        border-color: transparent
                    }

                    50% {
                        border-color: $title-color;
                    }
                }
            }

            &__title {

                text-align: center;
                font-family: Corben, serif;
                font-size: 29px;
                padding-left: 14px;
                color: $title-color;
                height: 40px;
                margin-bottom: 80px;

            }

            &__subscribe {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                width: 160px;
                height: 86px;
                border-radius: 16px;
                background-color: rgb(69, 69, 95);
                font-family: Mulish, sans-serif;
                font-size: 11px;
                letter-spacing: 4px;
                color: $title-color;
                text-transform: uppercase;
                border: none;
                -webkit-transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #ffb469;
                }
            }

            &__input {
                padding: 10px;
                color: $title-color;
                margin: 30px;
                width: 260px;
                font-size: 18px;
                font-family: Mulish, sans-serif;
                background: transparent;
                border: none;
                text-align: center;
                border-bottom: 1px solid $title-color;
                outline: none;
                transition: width 0.3s ease-in;
            }
        }

    }
}