@import url(https://fonts.googleapis.com/css?family=Mulish);
.upper-header {
  position: fixed;
  z-index: 100;
  background-color: #262626;
  box-shadow: 0 2px black;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
}
.upper-header__button {
  height: 31px;
  width: 95px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 14px;
  box-shadow: 0 2px rgb(111, 154, 55);
  border-radius: 4px;
  background-color: rgb(130, 180, 64);
  text-align: center;
}
.upper-header__button:hover {
  background-color: rgb(111, 154, 55);
  box-shadow: 0 2px rgb(64, 89, 32);
}
.upper-header__button:active {
  transform: translateY(2px);
}
.upper-header__button__link {
  position: relative;
  top: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.upper-header__logo {
  padding-top: 20px;
  padding-left: 20px;
  align-self: center;
  max-width: 152px;
  max-height: 18px;
}

.footer {
  z-index: 100;
  position: relative;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 1069px;
}
.footer__nav {
  width: 660px;
  height: 30px;
}
.footer__nav ul {
  overflow: hidden;
  list-style: none;
}
.footer__nav li :hover:before {
  content: "";
  position: absolute;
  top: 60px;
  background: grey;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}
.footer__nav li {
  float: left;
  list-style: none;
}
.footer__nav li a {
  display: block;
  padding-left: 16px;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  font-size: 12px;
  font-family: Mulish, sans-serif;
  font-weight: 400;
  color: rgb(235, 235, 235);
}
.footer__nav li a:hover {
  color: aqua;
}
.footer__icons {
  display: flex;
  position: relative;
  width: 376px;
  height: 26px;
  color: antiquewhite;
}
.footer__footer-copyright {
  width: 660px;
  height: 13px;
  display: flex;
  justify-content: space-between;
  font-family: Mulish, sans-serif;
  font-weight: 200;
  font-size: 11px;
  letter-spacing: 2px;
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 3em;
  padding-right: 3em;
}
.main-container__header {
  display: block;
}
.main-container__header__wrap {
  z-index: 100;
  position: relative;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 9em;
  width: 1203px;
  height: 35px;
}
.main-container__header__wrap__logo {
  display: flex;
  position: relative;
  height: 35px;
  width: 127px;
}
.main-container__header__wrap__navbar ul {
  overflow: hidden;
  list-style: none;
}
.main-container__header__wrap__navbar li :hover:before {
  content: "";
  position: absolute;
  background: grey;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  top: 66px;
}
.main-container__header__wrap__navbar li {
  float: left;
  list-style: none;
}
.main-container__header__wrap__navbar li a {
  display: block;
  padding-left: 16px;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  font-size: 16px;
  font-family: Mulish, sans-serif;
  font-weight: 800;
  color: rgb(235, 235, 235);
}
.main-container__header__wrap__navbar li a:hover {
  color: aqua;
}
.main-container__header__wrap__navbar span {
  padding-left: 16px;
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  fill: rgb(235, 235, 235);
}
.main-container__pinned-section {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
}
.main-container__pinned-section__wrap {
  padding-top: 60px;
  display: grid;
  position: relative;
  grid-template: "a1 a2 a3" "a1 a4 a5";
}
.main-container__pinned-section__wrap__pinned-element {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 8px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.2s linear;
}
.main-container__pinned-section__wrap__pinned-element__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container__pinned-section__wrap__pinned-element__content__pill-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 42px;
  font-family: Mulish, sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  border: grey solid 1px;
  letter-spacing: 2px;
  border-radius: 16px;
}
.main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  font-size: 14px;
  font-family: Mulish, sans-serif;
  padding-left: 14px;
  color: beige;
}
.main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  font-family: Corben, serif;
  padding-left: 14px;
  color: beige;
  height: 40px;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(1) {
  grid-area: a1;
  width: 516px;
  height: 371px;
  padding: 20px 30px 25px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/pinned/one_space.jpeg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(1) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 150px;
  margin: 0;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(1) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  margin: 0;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(1):hover {
  transform: translateY(-4px);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(2) {
  grid-area: a2;
  width: 348px;
  height: 155px;
  padding: 20px 30px 25px 30px;
  background: linear-gradient(rgba(25, 6, 237, 0.8), rgba(25, 6, 237, 0.8)), url(../../img/pinned/open_space_for_more.jpeg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(2) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  margin: 0;
  color: rgb(229, 223, 223);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(2) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 40px;
  font-size: 19px;
  color: rgb(229, 223, 223);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(2):hover {
  transform: translateY(-4px);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(3) {
  grid-area: a3;
  width: 348px;
  height: 155px;
  padding: 20px 30px 25px 30px;
  background-color: #ffb469;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(3) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  margin: 0;
  color: rgb(68, 67, 67);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(3) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 40px;
  font-size: 19px;
  color: rgb(68, 67, 67);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(3):hover {
  transform: translateY(-4px);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(4) {
  grid-area: a4;
  width: 348px;
  height: 155px;
  padding: 20px 30px 25px 30px;
  background: linear-gradient(rgba(237, 6, 202, 0.8), rgba(237, 6, 202, 0.8)), url(../../img/pinned/space_for_mind.jpeg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(4) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  margin: 0;
  color: rgb(229, 223, 223);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(4) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 40px;
  font-size: 19px;
  color: rgb(229, 223, 223);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(4):hover {
  transform: translateY(-4px);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(5) {
  grid-area: a5;
  width: 348px;
  height: 155px;
  padding: 20px 30px 25px 30px;
  background: linear-gradient(rgba(255, 192, 203, 0.8), rgba(255, 192, 203, 0.8)), url(../../img/pinned/sea_is_calm.jpeg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__pinned-section__wrap__pinned-element:nth-child(5) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  margin: 0;
  color: rgb(68, 67, 67);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(5) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 0px;
  font-size: 19px;
  color: rgb(68, 67, 67);
}
.main-container__pinned-section__wrap__pinned-element:nth-child(5):hover {
  transform: translateY(-4px);
}
.main-container__global {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__global__big-cards {
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
}
.main-container__global__big-cards__big-card {
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__global__big-cards__big-card svg {
  width: 40px;
  height: 40px;
}
.main-container__global__big-cards__big-card__pill-button {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px 10px;
  width: max-content;
  font-family: Mulish, sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  border: grey solid 1px;
  letter-spacing: 2px;
  border-radius: 16px;
}
.main-container__global__big-cards__big-card__link-to-author {
  font-size: 14px;
  font-family: Mulish, sans-serif;
  padding-left: 14px;
  color: beige;
}
.main-container__global__big-cards__big-card__title {
  font-family: Corben, serif;
  padding-left: 14px;
  color: beige;
  height: 40px;
  text-decoration: none;
  text-decoration-line: none;
}
.main-container__global__big-cards__big-card:nth-child(1) {
  display: flex;
  width: 1204px;
  height: 673px;
  background: url(../../img/big_cards_imgs/perfect_place.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.main-container__global__big-cards__big-card:nth-child(1):hover {
  scale: 1.1;
  background-size: 105%;
}
.main-container__global__big-cards__big-card:nth-child(2) {
  display: flex;
  width: 1204px;
  height: 808px;
  background: url(../../img/big_cards_imgs/i_work_best.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.main-container__global__big-cards__big-card:nth-child(2):hover {
  background-size: 105%;
}
.main-container__global__big-cards__big-card:nth-child(3) {
  display: flex;
  width: 1204px;
  height: 673px;
  background: url(../../img/big_cards_imgs/the_perfect_place.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.main-container__global__big-cards__big-card:nth-child(3):hover {
  background-size: 105%;
}
.main-container__global__header {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  font-family: Mulish, sans-serif;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 16, 5px;
  color: antiquewhite;
  text-transform: uppercase;
}
.main-container__global__grid {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
}
.main-container__global__grid__grid-cards {
  padding-top: 60px;
  display: grid;
  position: relative;
  grid-template: "a1 a1 a1 a2 a2 a2  " "a3 a3 a4 a4 a5 a5";
}
.main-container__global__grid__grid-cards__grid-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 8px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.2s linear;
}
.main-container__global__grid__grid-cards__grid-card__pill-button {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px 10px;
  width: max-content;
  font-family: Mulish, sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  border: grey solid 1px;
  letter-spacing: 2px;
  border-radius: 16px;
}
.main-container__global__grid__grid-cards__grid-card__link-to-author {
  font-size: 14px;
  font-family: Mulish, sans-serif;
  padding-left: 14px;
  color: beige;
}
.main-container__global__grid__grid-cards__grid-card__title {
  font-family: Corben, serif;
  padding-left: 14px;
  color: beige;
  height: 40px;
  text-decoration: none;
  text-decoration-line: none;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(1) {
  grid-area: a1;
  width: 463px;
  height: 509px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/grid_imgs/problems_grid_1.jpeg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(1) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 150px;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(1) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  margin: 0;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(1):hover {
  transform: translateY(-4px);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(2) {
  grid-area: a2;
  width: 463px;
  height: 509px;
  background: linear-gradient(rgba(25, 6, 237, 0.8), rgba(25, 6, 237, 0.8)), url(../../img/pinned/open_space_for_more.jpeg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(2) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  color: rgb(229, 223, 223);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(2) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 40px;
  font-size: 19px;
  color: rgb(229, 223, 223);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(2):hover {
  transform: translateY(-4px);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(3) {
  grid-area: a3;
  width: 302px;
  height: 376px;
  background-color: #ffb469;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(3) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  color: rgb(68, 67, 67);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(3) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 40px;
  font-size: 19px;
  color: rgb(68, 67, 67);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(3):hover {
  transform: translateY(-4px);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(4) {
  grid-area: a4;
  width: 302px;
  height: 376px;
  background: linear-gradient(rgba(237, 6, 202, 0.8), rgba(237, 6, 202, 0.8)), url(../../img/pinned/space_for_mind.jpeg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(4) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  color: rgb(229, 223, 223);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(4) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 40px;
  font-size: 19px;
  color: rgb(229, 223, 223);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(4):hover {
  transform: translateY(-4px);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(5) {
  grid-area: a5;
  width: 302px;
  height: 376px;
  background: linear-gradient(rgba(255, 192, 203, 0.8), rgba(255, 192, 203, 0.8)), url(../../img/pinned/sea_is_calm.jpeg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main-container__global__grid__grid-cards__grid-card:nth-child(5) .main-container__pinned-section__wrap__pinned-element__content__link-to-author {
  padding-top: 40px;
  margin: 0;
  color: rgb(68, 67, 67);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(5) .main-container__pinned-section__wrap__pinned-element__content__pinned-title {
  padding-bottom: 0px;
  font-size: 19px;
  color: rgb(68, 67, 67);
}
.main-container__global__grid__grid-cards__grid-card:nth-child(5):hover {
  transform: translateY(-4px);
}
.main-container__global__button-more {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 1230px;
  height: 86px;
  border-radius: 16px;
  background-color: rgb(69, 69, 95);
  margin-bottom: 30px;
  font-family: Mulish, sans-serif;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 16, 5px;
  color: antiquewhite;
  text-transform: uppercase;
}
.main-container__global__button-more:hover {
  background-color: #ffb469;
  scale: 1, 1;
}
.main-container__global__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 380px;
}

@font-face {
  font-family: "Corben";
  src: url("../../fonts/corben.woff2") format("woff2");
}
body {
  background-color: #252530;
}

/*# sourceMappingURL=styles.css.map */
